.answer section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#answerCardImage {
    float: left;
    width: 60%;
    margin-top: 150px;
    margin-left: 200px;
}

#message {
    margin-top: 300px;
	margin-left: 800px;
}

#answerCardMeaning {
	width: 700px; 
	height: 150px;
	font-size: larger;
}
	
#answerCardMessage {
	width: 700px;
	height: 100px;
	font-size: larger;
}

#answerCardKeywords {
	width: 700px;
	height: 100px;
	font-size: larger;
}      